# See http://help.github.com/ignore-files/ for more about ignoring files.

*.env

# compiled output
tedge/ui/dist
tedge/server/dist
tedge/ui/build
tedge/server/build
tedge/ui/node_modules
tedge/etc/tedge/analyticsConfig.json
dist
node_modules
/out-tsc

# dependencies
tedge/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.editorconfig

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/branding/.gitkeep
temp

tedge/tedge-mgm-env
tedge/tedge-ui-env
tedge/bin
mongo/data1
mongo/data2
attic/*

# python
__pycache__/
remember.log
tedge/package.json
.angular
