<c8y-progress-bar
  *ngIf="showStatusBar"
  [progress]="progress"
  [message]="''"
></c8y-progress-bar>
<div class="d-flex justify-content-center">
  <div style="height: 500px; overflow: auto">
    <div class="timeline-list list-condensed">
      <div
        class="timeline-list-item d-flex"
        *ngFor="let event of statusLogs$ | async"
      >
        <small class="timeline-item-date">
          {{ event.date | date: 'dd.MM.yy hh:mm:ss' }}
        </small>
        <div class="timeline-item-content d-flex flex-wrap">
          <div class="list-item-icon">
            <i c8yIcon="c8y-events"></i>
          </div>
          <div class="list-item-body">
            <div class="row">
              <div class="col-lg-12">
                <label class="small" translate>Status&nbsp;</label>
                <span>{{ event.status }}</span>
                <br />
                <span>{{ event.message }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
