[Unit]
Description=ui to manage the thin-edge.io locally in ab web ui, i.e. http://localhost:9080/#
After=syslog.target network.target

[Service]
User=tedge
ExecStart=/usr/bin/tedge-mgmt-server
StandardError=syslog
SyslogIdentifier=tedge-mgmt-server
Restart=always
RestartSec=30
EnvironmentFile=/etc/tedge-mgmt-server/env
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
