// @import '~@c8y/style/main.less';     
@import '~@c8y/style/extend.less';        
                                    
@brand-color:                 #ff6600;     
@brand-primary:               @brand-color;  
@navColor: #ff6600;
// @navBackgroundColor: #ff6600;
// @navigator-background-color: #ff6600;
@navColorHeader: @navColor;  
@brand-logo-height: 40px;   
@{logo-navigator} { background-image: url('./img/acme-logo.svg') }
.favicon-webpack-loader { background: url('./img/favicon.ico') }
.navigator .title .tenant-brand {
    padding-bottom: 40px;
}