@import '~@c8y/style/main.less';             
@import '~font-awesome/less/font-awesome.less';          
                              
@brand-color:                 #ff6600;     
@brand-primary:               @brand-color;  
@navColor: #ff6600;
@navColorHeader: @navColor;                          
@{logo-navigator} { background-image: url('./copy/img/acme-logo.svg') }
//.favicon-webpack-loader { background: url('./img/favicon.ico') }
//.favicon-webpack-loader { background: url('./notCopy/favicon.ico') }