@import '~@c8y/style/extend.less';
// @import '~@c8y/style/main.less';

@brand-color: #ff6600;
@brand-primary: @brand-color;
@navColor: #ff6600;
@navColorHeader: #ff6600;
@navigator-background-default: #ff6600;
@brand-logo-height: 40px;
@navigator-platform-logo-height: 40%;
@{logo-navigator} {
  background-image: url('./img/acme-logo.svg');
}
.favicon-webpack-loader {
  background: url('./img/favicon.ico');
}
.navigator .title .tenant-brand {
  padding-bottom: 40px;
}
