[Unit]
Description=collector
After=network.target

[Service]
ExecStart=/app/mqtt-collector.sh
WorkingDirectory=/app
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target