<c8y-title>
  {{ 'Control' | translate }}
</c8y-title>

<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" title="Reset log" (click)="resetLog()">
    <i c8yIcon="reset"></i>&nbsp;{{ 'Reset log' | translate }}
  </button>
</c8y-action-bar-item>

<div class="col-sm-10">
  <div class="card">
    <div class="card-header p-l-32 separator j-c-between">
      <h4 class="card-title">
        {{ 'Tedge command' | translate }}
      </h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div
          class="btn-group btn-group-justified col-md-10 col-md-offset-1"
          role="group"
        >
          <button
            class="btn btn-default"
            [ngClass]="{ 'btn-pending': (pendingCommand$ | async) === 'start' }"
            type="button"
            (click)="startEdge()"
            [disabled]="(tedgeStatus$ | async) === TedgeStatus.BLANK"
          >
            Start Edge
          </button>

          <button
            class="btn btn-default"
            [ngClass]="{ 'btn-pending': (pendingCommand$ | async) === 'stop' }"
            type="button"
            (click)="stopEdge()"
            [disabled]="(tedgeStatus$ | async) === TedgeStatus.BLANK"
          >
            Stop Edge
          </button>

          <button
            class="btn btn-default"
            [ngClass]="{
              'btn-pending': (pendingCommand$ | async) === 'restartPlugins'
            }"
            type="button"
            (click)="restartPlugins()"
            [disabled]="(tedgeStatus$ | async) === TedgeStatus.BLANK"
          >
            Restart Plugins
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<tedge-events></tedge-events>
