<div class="card-group">
  <div class="col-sm-6">
    <div class="card">
      <form [formGroup]="form">
        <div class="card-header">
          <h4 class="card-title">Diagram properties</h4>
        </div>
        <div class="card-block">
          <formly-form
            [model]="config"
            [fields]="fields"
            [form]="form"
            class="d-block"
          ></formly-form>
        </div>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSaveClicked()"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onCloseClicked()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Measurement Types</h4>
      </div>
      <div class="card-block">
        <ul class="list-group">
          <li
            class="list-group-item collapsible"
            *ngFor="let mType of measurementTypes$ | async"
            #li
          >
            <button
              type="button"
              title="{{ 'Expand' }}"
              class="collapse-btn"
              [ngClass]="{ active: li.collapsed }"
              (click)="li.collapsed = !li.collapsed"
            >
              <i c8yIcon="chevron-down"></i>
            </button>
            <span>{{ mType.type }} (with series)</span>
            <div [collapse]="li.collapsed" [isAnimated]="true">
              <div class="list-group">
                <div
                  class="list-group-item flex-row"
                  *ngFor="let serie of mType.series "
                >
                  <div class="list-item-icon">
                    <i c8yIcon="c8y-icon c8y-icon-data-points"></i>
                  </div>
                  <div class="list-item-body">
                    <c8y-form-group class="col-lg-8">
                        <label >{{ serie.name}}</label>
                        <input class="form-control" type="checkbox" [formControlName]="mType.type + '__' + serie.name" name="{{mType.type + '__' + serie.name}}" [checked] = 'serie.checked' />
                    </c8y-form-group>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
