<c8y-title>
  {{ 'Setup' | translate }}
</c8y-title>

<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" title="Reset log" (click)="resetLog()">
    <i c8yIcon="reset"></i>&nbsp;{{ 'Reset log' | translate }}
  </button>
</c8y-action-bar-item>

<div class="col-sm-10">
  <div class="card">
    <div class="card-header p-l-32 separator j-c-between">
      <h4 class="card-title">
        {{ 'Configuration' | translate }}
      </h4>
    </div>
    <div class="card-block">
      <form class="form-group" autocomplete="on">
        <div class="d-grid p-l-24 p-r-24 grid__col--6-6--md">
          <div>
            <c8y-form-group>
              <label translate>Cloud Tenant Name</label>
              <input
                class="form-control"
                type="text"
                name="c8yUrl"
                [(ngModel)]="configuration.c8yUrl"
                placeholder="your-tenant.cumulocity.com"
                #c8yUrlRef
                required
                [readonly]="readonly"
              />
              <label title="Device ID">External Device Id</label>
              <input
                class="form-control"
                type="text"
                name="deviceId"
                [(ngModel)]="configuration.deviceId"
                placeholder="external Device Id"
                [readonly]="readonly"
                #externalDeviceIdRef
                required
              />
            </c8y-form-group>
          </div>
        </div>
      </form>

      <div class="row">
        <div
          class="btn-group btn-group-justified col-md-10 col-md-offset-1"
          role="group"
        >
          <button
            class="btn btn-default"
            type="button"
            (click)="configureEdge()"
            [disabled]="(tedgeStatus$ | async) !== TedgeStatus.BLANK"
          >
            Configure Edge
          </button>
          <button
            class="btn btn-default"
            type="button"
            (click)="downloadCertificate()"
            [disabled]="(tedgeStatus$ | async) === TedgeStatus.BLANK"
          >
            Download Certificate
          </button>
          <button
            class="btn btn-default"
            type="button"
            (click)="uploadCertificate()"
            [disabled]="(tedgeStatus$ | async) !== TedgeStatus.INITIALIZED"
          >
            Upload Certificate
          </button>
          <button
            class="btn btn-default"
            type="button"
            (click)="resetEdge()"
            [disabled]="(tedgeStatus$ | async) === TedgeStatus.BLANK"
          >
            Reset
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<tedge-events></tedge-events>
