<c8y-title>
  {{ 'Setup' | translate }}
</c8y-title>

<c8y-action-bar-item [placement]="'right'">
  <button class="btn btn-link" title="Reset log" (click)="resetLog()">
    <i c8yIcon="reset"></i>&nbsp;{{ 'Reset log' | translate }}
  </button>
</c8y-action-bar-item>

<div class="card">
  <div class="card-header p-l-32 separator j-c-between">
    <h4 class="card-title">
      {{ 'Configuration' | translate }}
    </h4>
  </div>
  <div class="card-block">
    <form class="form-group" autocomplete="on">
      <div class="d-grid grid__col--6-6--md">
        <div>
          <fieldset>
            <div class="legend form-block">Configuration</div>
            <c8y-form-group class="bg-level-1 p-l-24 p-r-24">
              <label translate>Cloud Tenant Name</label>
              <input
                class="form-control"
                type="text"
                name="tenantUrl"
                [(ngModel)]="tedgeConfiguration.tenantUrl"
                placeholder="your-tenant.cumulocity.com"
                #tenantUrlRef
                required
                [readonly]="readonly"
              />
              <label title="Device ID">External Device Id</label>
              <input
                class="form-control"
                type="text"
                name="deviceId"
                [(ngModel)]="tedgeConfiguration.deviceId"
                placeholder="external Device Id"
                [readonly]="readonly"
                #externalDeviceIdRef
                required
              />
            </c8y-form-group>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button
          class="btn btn-default"
          type="button"
          (click)="configureEdge()"
          [ngClass]="{
            'btn-pending': (pendingCommand$ | async) === 'configure'
          }"
          [disabled]="tedgeMgmConfiguration.status !== TedgeStatus.BLANK"
        >
          Configure Edge
        </button>
      </div>
      <div class="btn-group" role="group">
        <button
          class="btn btn-default"
          type="button"
          (click)="downloadCertificate()"
          [disabled]="tedgeMgmConfiguration.status !== TedgeStatus.BLANK"
        >
          Download Certificate
        </button>
      </div>
      <div class="btn-group" role="group">
        <button
          class="btn btn-default"
          type="button"
          (click)="uploadCertificate()"
          [disabled]="tedgeMgmConfiguration.status !== TedgeStatus.INITIALIZED"
        >
          Upload Certificate
        </button>
      </div>
      <div class="btn-group" role="group">
        <button
          class="btn btn-default"
          type="button"
          (click)="resetEdge()"
          [ngClass]="{ 'btn-pending': (pendingCommand$ | async) === 'reset' }"
          [disabled]="tedgeMgmConfiguration.status === TedgeStatus.BLANK"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
</div>

<tedge-events></tedge-events>
