<c8y-title>
  {{ 'Logs' | translate }}
</c8y-title>

<c8y-action-bar-item [placement]="'right'">
  <form class="form-inline d-flex">
    <div class="form-group" style="margin-left: 20px; padding-top: 8px">
      <label class="small m-r-4">From</label>
      <div class="d-inline-block form-inline datepicker">
        <input
          type="text"
          name="dateFromDate"
          placeholder="Range"
          class="form-control"
          bsDatepicker
          [(ngModel)]="logFileRequest.dateFrom"
          [bsConfig]="bsConfig"
        />
      </div>
      <timepicker
        class="form-group"
        name="dateFromTime"
        [(ngModel)]="logFileRequest.dateFrom"
        [showMeridian]="showMeridian"
        [showSpinners]="showSpinners"
      ></timepicker>
    </div>
    <div class="form-group" style="margin-left: 20px; padding-top: 8px">
      <label class="small m-r-4">To</label>
      <div class="d-inline-block form-inline datepicker">
        <input
          type="text"
          name="dateToDate"
          placeholder="Range"
          class="form-control"
          bsDatepicker
          [(ngModel)]="logFileRequest.dateTo"
          [bsConfig]="bsConfig"
        />
      </div>
      <timepicker
        class="form-group"
        name="dateToTime"
        [(ngModel)]="logFileRequest.dateTo"
        [showMeridian]="showMeridian"
        [showSpinners]="showSpinners"
      ></timepicker>
    </div>
    <div
      class="form-group c8y-select-wrapper form-inline"
      style="margin-left: 20px; margin-top: 8px"
    >
      <select
        required
        #logfileSelect
        class="form-control"
        name="logTypeSelect"
        [(ngModel)]="logFileRequest.type"
      >
        <option
          *ngFor="let type of logFileTypes$ | async; let i = index"
          [value]="type"
        >
          <span>
            {{ type }}
          </span>
        </option>
      </select>
    </div>
    <div
      class="form-group form-inline"
      style="margin-left: 20px; margin-top: 8px"
    >
      <label>Lines</label>
      <input
        type="number"
        class="form-control"
        name="lines"
        [(ngModel)]="logFileRequest.lines"
      />
    </div>
    <button
      class="btn btn-link"
      title="Request log file"
      (click)="requestTedgeLogfile()"
    >
      <i c8yIcon="logs"></i>&nbsp;{{ 'Request log file' | translate }}
    </button>
  </form>
</c8y-action-bar-item>
<div class="col-sm-10">
  <div class="card fit-w">
    <div class="card-header separator">
      <h4 class="card-title">Logs Files</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="d-flex col-lg-3 p-t-4">
          <div style="padding: top 2px right 8px;"><span >{{ 'Log file request status ' }}</span></div>
          <div class="p-t-4">
              <i
                *ngIf="
                  (logFileResponseSuccess$ | async) !== true &&
                  (logFileResponseSuccess$ | async) !== undefined
                "
                c8yIcon="process"
                class="text-success"
              ></i>
              <i
                *ngIf="(logFileResponseSuccess$ | async) === true"
                c8yIcon="check-circle"
                class="text-success"
              ></i>
              <i
                *ngIf="
                  (logFileResponseSuccess$ | async) === false &&
                  (logFileResponseSuccess$ | async) !== undefined
                "
                c8yIcon="exclamation-circle"
                class="text-warning"
              ></i>
          </div>
          <!-- {{
            (logFileResponseSuccess$ | async) !== true &&
              (logFileResponseSuccess$ | async) !== undefined
          }}
          - {{ (logFileResponseSuccess$ | async) === true }} -
          {{ logFileResponseSuccess$ | async }} -
          {{ (logFileResponseSuccess$ | async) === false }} -
          {{ !!(logFileResponseSuccess$ | async) }} -->
        </div>
        <div class="col-lg-2">
          <button
            class="btn btn-default"
            title="View log file"
            (click)="getTedgeLogfile()"
            [disabled]="
              (logFileResponseSuccess$ | async) !== true &&
              (logFileResponseSuccess$ | async) !== undefined
            "
          >
            <i c8yIcon="logs"></i>&nbsp;{{ 'View log file' | translate }}
          </button>
        </div>
        <div class="col-lg-7 p-t-8">
          <span class="text-uppercase">{{
            (logFileResponse$ | async)?.status
          }}</span>
        </div>
      </div>
      <pre style="max-height: 400px; overflow: auto; margin-top: 16px">{{
        logContent
      }}</pre>
      <!-- <pre>{{ logFileResponse$ | async | json }}</pre> -->
    </div>
  </div>
</div>
